.note-wrapper {
    margin: 25px auto;
    padding: 0 20px 25px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    max-height: 80px;
    transition: max-height 0.35s ease-in-out;
    overflow: hidden;
    cursor: initial;
}
.note-wrapper-skeleton {
    margin: 25px auto;
    background-color: #fff;
    /* box-shadow: 0 0 5px rgb(140 140 140 / 60%); */
    border-radius: 5px;
    height: 80px;
}
/* obroba notov ki so sharani s tabo */
.note-wrapper.is-shared-not-mine {
    box-shadow: 0 0 5px #228be6;
}
.note-wrapper.is-shared-not-mine.pulsing-anim {
    animation: breatheShadow 2s infinite ease-in-out;
}
.note-wrapper.pulsing-anim-limited {
    animation: breatheShadowGray 1.75s 2 ease-in-out;
}

@keyframes breatheShadow {
    0%,
    100% {
        box-shadow: 0 0 5px #228be6;
    }
    50% {
        box-shadow: 0 0 15px #228be6;
    }
}
@keyframes breatheShadowGray {
    0%,
    100% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
    50% {
        box-shadow: 0 0 22px rgba(0, 0, 0, 0.4);
    }
}

/* Äe so attachmenti da ni tok empty placa spodej */
.note-wrapper.slimmer {
    padding-bottom: 15px;
}

.note-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 25px 0 25px 0;
}

.note-title {
    padding: 0;
    margin: 0;
    max-width: 75%;
}

.note-title > h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-tools {
    cursor: pointer;
    /* margin-top: 25px; */
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    width: auto;
}

.note-tools > *:nth-child(2),
.note-tools > *:nth-child(3) {
    margin-right: 7px;
    transition: transform 0.1s ease-in-out;
}

.note-tools > *:hover {
    transform: scale(0.96);
}

.last-update {
    font-size: 16px;
    padding-top: 5px;
}

.sharee-tools-row {
    display: flex;
    justify-content: space-between;
}

.note-wrapper.opened-note {
    display: block;
    max-height: 100vh;
}

.note-content {
    margin-top: 0.75rem;
    padding-top: 0.75rem;
    border-top: 1px solid rgba(172, 171, 171, 0.3);
}

.note-attachments {
    border-top: 1px solid rgba(172, 171, 171, 0.3);
    height: 40px;
    display: flex;
    margin: 2rem 0 3rem 0;
    padding-top: 0.75rem;
    width: 100%;
}
.note-attachments-editing {
    height: 40px;
    display: flex;
    width: calc(100% - 3rem);
    position: absolute;
    left: 1.5rem;
    top: 33.8%;
}

.attachments {
    margin-right: 3rem;
}

/* .attachments.editing > div.deleted {
    visibility: hidden;
    display: none;
} */

.attachments.editing.deleted {
    display: none;
}
.attachment-icons {
    display: flex;
    position: relative;
}

.attachment-name {
    max-width: 5rem;
    max-height: 3rem;
    font-size: 12px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    word-wrap: break-word;
}

.attachment-delete-mark {
    position: absolute;
    top: 0;
    left: 2rem;
    cursor: pointer;
}
